.complete{
    text-decoration: line-through;
    
   
}
.incomplete{
    text-decoration: none;
    font-weight: bold;
    

}
.done{
    background: #fbbcbc;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    
}
.indone{
    background: #cfccff;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}